@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");



body {
  background: #000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}

.header-menu a {
  color: #fff;
  font-family: "DM Mono", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.header-menu a:not(:last-child) {
  margin-right: 40px;
}

.header-left {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logos a {
  background: #fff;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: "Audiowide", sans-serif;
  font-size: 51px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.614px;
  text-transform: uppercase;
  width: 484px;
}

.under-h1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
  width: 340px;
}

.btn-first {
  color: #000;
  text-align: center;
  font-family: "DM Mono", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
  padding: 25px 40px;
  background: #8dfd1b;
  margin-top: 115px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wave-nft {
  color: #fff;
  font-family: "Audiowide", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 45.485px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: 120px;
}

.collection-of {
  color: #a8a8a8;
  font-family: "Audiowide", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 45.485px;
  width: 351px;
  text-transform: uppercase;
  margin-top: 0;
}

.btn-openSea {
  color: #fff;
  text-align: center;
  font-family: "DM Mono", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
  background-color: black;
  padding: 13px 33px;
  border: 1px solid #8dfd1b;
  margin-top: 40px;
}

.left-side {
  color: white;
}

.nft-collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-paragraf {
  border-left: 1px solid #8dfd1b;
  color: #8dfd1b;
  font-family: "DM Mono", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.992px;
  width: 546px;
  padding-left: 22px;
}

.text-left {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
  width: 562px;
}

.artist {
  color: #fff;
  font-family: Audiowide, sans-serif;
  font-size: 79px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px; /* 111.392% */
  text-transform: uppercase;
  text-align: center;
}

.artists {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.artist-name {
  color: #fff;
  text-align: center;
  font-family: DM Mono, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.artist-item {
  width: 20%;
}

.story-section {
  margin-top: 240px;
}

.story-title {
  color: #fff;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}

.story-title > span {
  color: #a8a8a8;
}

.story-wrapper {
  background-color: #222222;
  padding: 60px;
  width: 60%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}

.story-texts > p.selected-paragraf {
  color: #8dfd1b;
  font-family: "DM Mono", sans-serif;
  font-size: 21px;
  line-height: 31px;
}

.story-texts > p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.story-texts > p:not(:last-child) {
  margin-bottom: 20px;
}

.story-button {
  color: #fff;
  font-family: "DM Mono", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: #000;
  border: none;
  padding: 25px;
  text-align: left;
  padding-right: 100px;
  cursor: pointer;
}

.story-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.story-switcher {
  display: flex;
  align-items: start;
  justify-content: center;
}

.story-button.active {
  color: #8dfd1b;
  background: #222;
}

.second-title {
  color: #fff;
  font-family: "Audiowide", sans-serif;
  font-size: 79px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 108px;
}

.name-img {
  color: #fff;
  text-align: center;
  font-family: "DM Mono", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.726px; /* 132.03% */
  text-transform: uppercase;
}

.occupation-img{
  color: #8DFD1B;
text-align: center;
font-family: DM Mono;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 12px; 
letter-spacing: 1px;
text-transform: uppercase;
}


.logos-img{
  background: #FFF;
  padding: 10px; 
}

.description{
  color: #FFF;
text-align: center;
font-family: "Inter", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 19.2px;
width: 60%;
margin: 20px auto; 
}

.team-member{
  width: 30%;
  text-align: center;
}

.team-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contacts-section{
  padding-top: 253px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section{
  color: #FFF;
font-family: Audiowide,sans-serif;
font-size: 51px;
font-style: normal;
font-weight: 400;
line-height: 60.614px; 
text-transform: uppercase;
}

.header-section > span{
    color: #8DFD1B;
}

.first-text{
  color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; 
width: 345px;
margin-bottom: 34px;
}

.last-logos{
  color: #000;
text-align: center;
font-family: DM Mono, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
text-transform: capitalize;
background: #8DFD1B;
padding: 14px 31px;
margin-bottom: 35px;
display: flex;
align-items: center;
gap: 10px;
}

.last-footer{
  background-color: #42006A;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
 
}



.first-footer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.copyright{
  color: #FFF;
font-family: DM Mono,sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20.48px; 
padding-top: 70px;  
}


.footer-text{
  color: #FFF;
font-family: DM Mono,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19.2px; 

}

.second-footer > img:not(:last-child){
  margin-right: 7px;
}


